@media only screen and (max-width: 735px) {
  .itemMovie {
    display: flex!important;
    margin-left: auto!important;
    flex-direction: column!important;
    align-items: center!important;
  }
}

.itemMovie {
  display: block;
}

.autoPagination {
  height: 1px;
  width: 100%;
  bottom: 20px;
  position: relative;
  display: flex;
}
