@media only screen and (max-width: 870px) {
  .autosize {
    display: block!important;
  }
}

.details_body {
  padding: 60px 10px 0 10px;
}

.details_movie {
  padding: 10px;
}

.movie_cover {
  width: 342px!important;
}

.movie_info {
  margin-bottom: auto;
  display: block;
}