@media only screen and (max-width: 870px) {
  .autosize {
    display: block!important;
  }
  .img_position {
    text-align: center!important;
  }
}

.info_field {
  margin-bottom: 0px;
}

.details_body {
  padding: 60px 10px 0 10px;
}

.details_movie {
  padding: 10px;
}

.img_position {
  text-align: left;
}

.movie_cover {
  width: 342px!important;
}

.movie_info {
  margin-bottom: auto;
  display: block;
}