.Item {
  width: 342px;
  height: 570px!important;
  float: left;
  margin: 10px;
}

.Item:hover {
  box-shadow: 0 0px 5px #ffffff;
}

.title {
  //display: flex;
  //align-content: center;
  //justify-content: center;
  //padding-top: 10px;
  position: inherit;
  top: 5px;
  text-align: center;
  color: #999!important;
  font-size: 13pt!important;
}

.like_movie {
  position: absolute;
  right: 6px;
  top: 10px;
  color: #ff0000;
  font-size: x-large;
}

.like_movie:hover {
  color: #ffc6c6;
}
